*{
    margin: 0px;
  
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 832px;
    max-height: 832px;
    background-color:rgb(221, 181, 129);
    padding: 20px;
    margin: 20px;
}

.divSquare{
    border: 1px black solid;
    height: 50px;
    width: 50px;
    margin: 0;
    background-color: antiquewhite;
}

.hovered{
    background-color: blueviolet;

}
.btn {
    padding: 20px 40px;
    margin:20px ;
    margin-bottom: 0px;
    font-size: 20px;
}
